<footer class="bg-gray-100 border-t border-gray-200 mt-12">
  <div class="mx-auto px-4 py-8 text-center h-full ">
    <div class="flex  items-center text-sm text-gray-600">
       <p class="mx-auto">&copy; 2026 My Finances. All rights reserved.</p>
    </div>
  </div>
</footer>
