<div class="max-w-2xl mx-auto py-12">
  <h1 class="text-3xl font-bold text-gray-900 mb-8">Editar Categoria</h1>

  <div class="bg-white shadow rounded-lg p-6">
    <%= render "form" %>
  </div>
</div>
